body{
  max-width: 100vh;
  overflow-x: hidden;
  color: #313131;
}

.main{
  background-color: #f1f1f1;
  min-height: 100vh;
  min-width: 70vw;
  margin-right: 0;
  padding: 0;
}
.side {
  background-color: #5d789e;
  min-height: 100vh;
  /* max-width: 40vw; */
  min-width: 70px;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://images.pexels.com/photos/3843925/pexels-photo-3843925.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1280');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero{
  width: 17vw;
  min-width: 80px;
  border-radius: 50%;
  box-shadow: 10px 10px 10px #4f6a8f;
}
.card-container{
  /* margin: 15px; */
  height: 100%;
  padding: 15px;
  padding-left: 15px;
  padding-right: 35px;
  display: flex;
  flex-flow: row wrap;
  /* align-items: center; */
  justify-content: center;
}
.card{
  box-shadow: 7px 7px 10px #d1d1d1;
  margin: 25px;
  width: 40vw;
  min-width: 250px;
}
.blur {
  background-color: rgba(241, 241, 241, 0.3);
}
.about{
  background-color: #dddddd;
  min-height: 40vh;
}
.text-main {
  padding-top: 20px;
  padding-left: 35px;
  max-width: 62vw;
}
a{
  text-decoration: none;
  color: #313131;
  padding: 0 10px;
}
.socials{
  padding: 10px;
  padding-right: 15px;
}
ul{
  text-decoration: none;
  list-style: none;
  padding-left: 0px;
}
li{
  width: 100%;
}
